<%= form_with(model: node) do |form| %>
  <% if node.errors.any? %>
    <div id="message is-danger">
      <div class="message-header">
        <p><%= pluralize(node.errors.count, "error") %> prohibited this node from being saved:</p>
      </div>

      <div class="message-body">
      <ul>
        <% node.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul> 
      </div>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :meal_type, class: "label" %>
    <%= form.text_field :meal_type, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :calories, class: "label" %>
    <%= form.number_field :calories, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :proteins, class: "label" %>
    <%= form.number_field :proteins, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :carbs, class: "label" %>
    <%= form.number_field :carbs, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :fats, class: "label" %>
    <%= form.number_field :fats, class: "input" %>
  </div>

  <div class="actions">
    <%= form.submit class: "button is-success" %>
  </div>
<% end %>
