<%= form_with(model: node) do |form| %>
  <% if node.errors.any? %>
    <div id="message is-danger">
      <div class="message-header">
        <p><%= pluralize(node.errors.count, "error") %> prohibited this node from being saved:</p>
      </div>
      <div class="message-body">
        <ul>
          <% node.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :title, class: "label" %>
    <%= form.text_field :title, class: "input" %>
  </div>
  <%= form.label :author_id, class: "label" %>

  <div class="field">  
    <div class="select">
      <%= form.select :author_id, [["Public", true], ["Pseudonyms", false]].to_h {|p|
        [p[0], @user.authors.where(public: p[1]).collect {|a| [a.formatted_name, a.id]}]
      }, class: "" %>
    </div>
  </div>
  
  <div class="field"> 
    <div class="select is-multiple" onChange=testing(event) >
      <%= form.select :tag_decl_ids, @user.get_targeting_tags.collect { |t| [t.tag, t.id]} , {}, {multiple: true} %>
    </div>
  </div>

  <div class="field">
    <%= form.label :body, class: "label" %>
    <%= form.text_area :body, class: "textarea", size: "80x10" %>
    (markdown support planned)
  </div>
  <%= form.hidden_field :parent_id, value: parent_id %>
  <div class="actions">
    <%= form.submit class: "button is-success" %>
  </div>
<% end %>
