<div class="card">
  <div class="card-content">
    <p class="title is-size-4 mb-1">
      <%= link_to node.content.title, node %>
    </p>
    <p class="border">
      <%= node.content.body.slice(0, 200) %>
    </p>
    <nav class="breadcrumb">
      <ul>
        <li><%= link_to node.author.name, node.author %></li>
        <li><%= link_to node.user.username, node.user %></li>
        <li class="is-active">
          <a><%= node.created_at %> / <%= time_ago_in_words(node.created_at || DateTime.now) %> ago</a>
        </li>
        <li class="is-active">
          <a>Replies: <%= node.children_rec.count %></a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="cart-footer">
    <!--
    <span><%= link_to 'Show', node, class: "card-footer-item" %></span>
    <span><%= link_to 'Edit', edit_node_path(node), class: "card-footer-item" %></span>
    <span><%= link_to 'Destroy', node, method: :delete, data: { confirm: 'Are you sure?' }, class: "card-footer-item" %></span>
    -->
  </div>
</div>
