<% use_anchor ||= false %>
<% prefix_anchor ||= false %>
<% if prefix_anchor %>
  <%= link_to "#", "##{node.id}" %> |
<% end %>
<%= link_to use_anchor ? "##{node.id}" : node_path(node) do %>
  <%= node.id %>: <%= node.title_w_default %>
<% end %>
<% if node.n_children > 0 %>
  <% if max_depth > 0 && @children_lookup[node.id].count > 0 %>
    <ul>
      <% @children_lookup[node.id].each do |n2| %>
        <li>
          <%= render 'subtree_draw', node: n2, max_depth: max_depth - 1, use_anchor: use_anchor, prefix_anchor: prefix_anchor %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <%# todo: although @children_lookup[node.id] might have > 0 nodes, it doesn't mean it has all available children for the current user. also, there could be fewer children available to the user than .n_children. How do we handle both of these situations at once? %>
    <ul>
      <li>... <%= node.n_children %> children, <%= node.n_descendants %> descendants</li>
    </ul>
  <% end %>
<% end %>
