<section class="section">
  <div class="columns mt-6 is-centered">
    <div class="column">
      <nav class="panel is-link">
        <div class="panel-heading">
          <%= @node.title_w_default %>
        </div>
        <div class="panel-block">
          By: <%= @node.author.formatted_name || "Anonymous" %>
        </div>
        <div class="panel-block">
          Date: <%= @node.created_at %>
        </div>
        <div class="panel-block">
          <div class="content">
        <%= markdown(@node.content.body) if @node.content.body %>
          </div>
        </div>
      </nav>
      <div class="columns is-mobile">
        <div class="column">
          <%= link_to 'Edit', edit_node_path(@node), class: "button is-gray" %>
          <%= link_to 'Reply', reply_to_node_path(:parent_id => @node.id), class: "button" %>
          <%# <%= link_to 'Delete', node_path(@node), class: "button is-warning", method: :delete, data: { confirm: "Are you sure?" } %>
        </div>
        <div class="column">
        </div>
      </div>
    </div>
  </div>
</section>
