<% depth_left ||= 0 %>
<div class='comment' id='<%= node.id %>'>
  <% if node.content.title %>
    <div class='comment-heading'>
      <%= node.content.title %>
    </div>
  <% end %>
  <div class='comment-block'>
    <%= node.content.body %>
  </div>
  <div class='comment-block is-small'>
    <% anchor = "##{node.id}" %>
    <%= link_to anchor, anchor, class: "" %>,
    <span class="mr-1">By:</span> <%= link_to node.author.formatted_name || "Anonymous", author_path(node.content.author_id) %>, <%= node.created_at %>
    <% if false && node.content_versions.count > 1 %>, <em>Updated at: <%= node.content.created_at %></em>
    <% end %>
    <span class="mx-2"></span>
    <%# old reply link: reply_to_node_path(parent_id) %>
    <%= link_to "Reply", new_node_path(:parent_id => node.id), class: "button is-small is-link" %>
    <%= link_to "Permalink", node, class: "button is-gray is-small ml-1" %>
  </div>
  <div class="comment-children">
    <% if node.n_children > 0 %>
      <% if depth_left > 0 %>
        <% @children_lookup[node.id].each do |child| %>
          <%= render 'view_comment_inline', node: child, depth_left: depth_left - 1 %>
        <% end %>
      <% else %>
        <h1 class="title is-size-5 red">TODO: handle (<%= node.n_children %>) more children that we're not showing.</h1>
        <%= link_to node_path(node.id), class: "" do %>
          <h3 class="title is-size-6">continue topic (children: <%= node.n_children %>, descendants: <%= node.n_descendants %>)
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
