<section class="section">
  <div class="columns">
    <div class="column is-three-quarters">
      <div class="title is-2">
        <%= node.content.title %>
        <%= link_to "../", node.parent, class: "is-small" %>
      </div>
      <div class="subtitle is-4">
        Children: <%= node.children(@user_id).count %>
      </div>
    </div>
    <div class="column has-text-right">
      <%= link_to "New Post", new_node_path(:parent_id => node.id), class: "button is-info" %>
    </div>
  </div>
  <% node.children(@user_id).each do |child| %>
    <%= render 'preview_topic', node: child %>
  <% end %>
</section>
