<% content_for :title do %>
  <%= @entry.meal_type %> &ndash; <%= DateTime.now.to_s(:nice_date) %>
<% end %>

<div class="columns mt-6 is-centered">
  <div class="column is-one-third">
    <nav class="panel is-link">
    <div class="panel-heading">
      Meal type: <%= @entry.meal_type %>
    </div>

    <div class="panel-block">
      Calories: <%= @entry.calories %>
    </div>

    <div class="panel-block">
      Proteins: <%= @entry.proteins %>
    </div>

    <div class="panel-block">
      Carbs: <%= @entry.carbs %>
    </div>

    <div class="panel-block">
      Fats: <%= @entry.fats %>
    </div>
    </nav>
    
    <div class="columns is-mobile">
    <div class="column">
    <%= link_to 'Edit', edit_entry_path(@entry), class: "button is-gray" %>
    <%= link_to 'Delete', entry_path(@entry), class: "button is-warning", method: :delete, data: { confirm: "Are you sure?" } %>
    </div>

    <div class="column">
    </div>
  </div>
</div>
