<% content_for :title do %>
  Critical Fallibilism Forum
<% end %>
<% content_for :subtitle do %>
  <%= @node.content.title || "untitled" %>
<% end %>
<% case @node.depth
    when 0 %>
<%= render 'view_root', node: @node %>
<% when 1 %>
<%= render 'view_index', node: @node %>
<% when 2 %>
<%= render 'view_post', node: @node %>
<% else %>
  <%# <%= render 'view_comment', node: @node %>
  <!-- easier to render comments like we would posts for the moment -->
  <%= render 'view_post', node: @node %>
<% end %>
<% if !@node.parent.nil? %>
  <div class="columns is-centered mt-6">
    <%= link_to "To Parent", node_path(@node.parent), class: "button is-link is-outlined is-centered" %>
  </div>
<% end %>
